@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?85774834');
  src: url('../font/fontello.eot?85774834#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?85774834') format('woff'),
       url('../font/fontello.ttf?85774834') format('truetype'),
       url('../font/fontello.svg?85774834#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?85774834#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-play-circled:before { content: '\e800'; } /* '' */
.icon-github:before { content: '\e801'; } /* '' */
.icon-dribbble:before { content: '\e802'; } /* '' */
.icon-info-circled:before { content: '\e803'; } /* '' */
.icon-cancel-circled:before { content: '\e804'; } /* '' */
.icon-plus-circled:before { content: '\e805'; } /* '' */
.icon-gittip:before { content: '\e806'; } /* '' */
.icon-weibo:before { content: '\e807'; } /* '' */
.icon-wechat:before { content: '\e808'; } /* '' */
.icon-twitter:before { content: '\e809'; } /* '' */
.icon-tumblr:before { content: '\e80a'; } /* '' */
.icon-linkedin-squared:before { content: '\e80b'; } /* '' */
.icon-behance:before { content: '\e80c'; } /* '' */
.icon-instagram:before { content: '\e80d'; } /* '' */
.icon-facebook-squared:before { content: '\e80e'; } /* '' */
.icon-link:before { content: '\e80f'; } /* '' */
.icon-home:before { content: '\e810'; } /* '' */
.icon-rss:before { content: '\e811'; } /* '' */
.icon-mic:before { content: '\e812'; } /* '' */
.icon-calendar-empty:before { content: '\e813'; } /* '' */
.icon-paper-plane:before { content: '\e814'; } /* '' */
.icon-flickr:before { content: '\e815'; } /* '' */
.icon-signal:before { content: '\e816'; } /* '' */
.icon-eye:before { content: '\e817'; } /* '' */
.icon-tag:before { content: '\e818'; } /* '' */
.icon-comment:before { content: '\e819'; } /* '' */
.icon-location:before { content: '\e81a'; } /* '' */
.icon-lifebuoy:before { content: '\e81b'; } /* '' */
.icon-apple:before { content: '\e81c'; } /* '' */
.icon-mail-alt:before { content: '\e81d'; } /* '' */