#hashover{
	text-align: left;
	background: #f5f5f5;
}

#hashover-requiredFields,
.hashover-hidden,
.hashover-notice > .hashover-balloon > .hashover-footer,
.hashover-first .hashover-balloon,
.hashover-first .hashover-avatar:before,
.hashover-first .hashover-avatar:after {
	display: none ! important;
}

#hashover,
#hashover-top-comments,
#hashover-sort-div,
.hashover-inputs {
	clear: both;
}
#hashover-popular-section,
#hashover-comments-section {
	margin-bottom: 2rem;
}
#hashover-form-section{
	margin-bottom: 4rem;
}

.hashover-dashed-title {
	display: block;
	width: 100%;
	text-align: center;
	padding: 1.4rem;
	font-size: 1rem;
	line-height: 1rem;
	color: #333;
	font-weight: 700;
}
.hashover-comment {
	background: #fff;
	padding: 1rem;
}
.hashover-comment,
.hashover-reply-form {
	margin-bottom: 2rem;
}
.hashover-comment .hashover-content {
	line-height: 1.5;
	font-size: 1.4em;
	margin: 0 0 .7rem;
	color: #666;
}
.hashover-avatar-image *,
.hashover-avatar * {
	vertical-align: middle;
}
.hashover-reply,
.hashover-reply-form {
	background: linear-gradient(to right, rgba(0, 0, 0, .025) 0%,rgba(0, 0, 0, .02) 100%);
	padding: .5rem;
	margin: 1rem 0 0 2.5rem;
}

.hashover-comment-name {
	display: inline-block;
	font-size: 1.4em;
	font-weight: 700;
}
.hashover-comment-name a{
	text-decoration: none;
}

.hashover-message {
	position: relative;
	z-index: 1;
}


.hashover-message,
.hashover-message > *,
.hashover-formatting-message,
.hashover-formatting-message > * {
	display: block;
	width: 100%;
	max-height: 0px;
}

.hashover-message > *,
.hashover-formatting-message > * {
	color: transparent;
}

.hashover-message > * {
	padding: 0px 12px;
	margin-bottom: 12px;
	text-align: center;
}

.hashover-message.hashover-message-open > *,
.hashover-formatting-message.hashover-message-open > * {
	color: initial;
}

.hashover-message.hashover-message-open > * {
	padding: 12px;
	color: #0f0;
	background-color: rgba(225, 225, 255, 0.25);
}

.hashover-php-message-open,
.hashover-php-message-open > * {
	max-height: initial;
}

.hashover-comment .hashover-message {
	margin-top: -1px;
}

.hashover-comment .hashover-message > * {
	margin-bottom: 0px;
}

#hashover-form,
.hashover-comment,
.hashover-reply-form,
.hashover-message,
.hashover-message > *,
.hashover-formatting-message,
.hashover-formatting-message > *,
.hashover-comment form,
.hashover-comment form .hashover-balloon {
	overflow: hidden;
}
/*~Reply form*/
#hashover form,
.hashover-comment form {
	display: block;
}
#hashover form input{
	font-family: 'Anyway Type', 'Myriad Pro', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
}
#hashover form textarea,
.hashover-inputs input{
	background-color: #fff;
	font-size: .875rem;
	color: #333;
	padding: .5rem;
	outline-offset: none;
	outline: -webkit-focus-ring-color none;
	border: 1px solid #fff;
	transition: all .12s ease-in-out;
	-webkit-appearance : none;
	border-radius: 0;
}

#hashover form textarea:hover,
.hashover-inputs input:hover{
	border: 1px solid #ddd;
}
.hashover-inputs {
	display: table;
	width: 100%;
	margin: 0 0 1rem;
}

.hashover-inputs > * {
	display: table-cell;
	vertical-align: middle;
	line-height: 1rem;
}
.hashover-inputs input {
	width: 100%;
	height: 32px;
	color: #333;
	padding: 0 .5rem;
}
.hashover-name-input{
	margin-right: .67rem;
}
.hashover-email-input{
	margin: 0 .33rem;
}
.hashover-website-input {
	margin-left: .67rem;
}

#hashover form textarea {
	position: relative;
	width: 100%;
	vertical-align: top;
	resize: vertical;
}

#hashover form textarea:focus {
	z-index: 2;
}

#hashover textarea:hover,
#hashover input:hover,
.hashover-submit:hover {
	text-decoration: none;
}

.hashover-submit {
	background-color: #333;
	padding: .8rem 1rem;
	font-weight: 700;
	font-size: 1rem;
}
.hashover-form-buttons{
	position: relative;
}
.hashover-post-button,
.hashover-reply-post,
.hashover-edit-post {
	background-color: #333;
	color: #fff;
	transition: all .1s ease-in-out;
	display: block;
}

.hashover-post-button:hover,
.hashover-reply-post:hover,
.hashover-edit-post:hover {
	background-color: #f60c3e;
}

.hashover-post-button:active,
.hashover-reply-post:active,
.hashover-edit-post:active {
	background-color: #d50a36;
	transform: translateY(2px);
}
.hashover-form-buttons.loading{
	box-shadow: 0 3px 0 #ddd;
}
.hashover-form-buttons.loading:after{
	animation: submit-ani 1.4s ease-out 0s infinite;
	position: absolute;
	content: "";
	bottom: -3px;
	height: 3px;
	background: #d50a36;
}
@keyframes submit-ani {
	0% {left: 0%;width: 0;}
	20% {left: 0%;width: 100%;}
	60% {left: 100%;width: 0%;}
	80% {left: 100%;width: 100%;}
}
/*@keyframes submit-ani {
	0% {opacity:0;}
	10% {left: 50%;width: 0;opacity:1;}
	40% {left: 0%;width: 100%;opacity:1;}
	50% {opacity:1;}
	100% {opacity:0}
}*/
.hashover-edit-delete {
	float: left;
	margin-right: 1rem;
	background-color: #FF8C8C;
	color: #FCFCFC;
}

.hashover-edit-delete:hover {
	background-color: #FF6666;
}
.hashover-submit:hover {
	cursor: pointer;
}


.hashover-emphasized-input,
.hashover-emphasized-input input {
	border-color: #CC0000 ! important;
}

.hashover-emphasized-input:focus,
.hashover-emphasized-input input:focus {
	border-color: #FF0000 ! important;
	box-shadow: 0px 0px 2px #FFBFBF !important;
}

#hashover form label {
	cursor: pointer;
}

.hashover-inputs label,
.hashover-comment-label {
	padding: 5px;
	display: inline-block;
	background-color: rgba(200, 200, 200, 0.25);
}
.hashover-comment-label {
	width: 100%;
	display: block;
	margin-bottom: -1px;
}

.hashover-form-links {
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 12px;
}

.hashover-form-links > * {
	display: inline-block;
	margin-top: 7px;
	margin-right: 6px;
}

.hashover-form-links > *:last-child {
	margin-right: 0px;
}

#hashover label input[type="checkbox"] {
	margin: 0 .4em 0 0;
	vertical-align: middle;
	padding: 0;
}

.hashover-form-footer {
	padding: 1rem 0;
	overflow: hidden;
}

.hashover-edit-form {
	margin-top: 12px;
	padding-top: 12px;
}

#hashover-sort,
.hashover-edit-status,
.hashover-form-buttons,
.hashover-thread-link {
	float: right;
}

#hashover select {
	height: 2em;
}

#hashover hr {
	border: 0px;
	height: 1px;
	margin-top: 0px;
	margin-bottom: 5px;
}

input::-moz-focus-inner {
	border: 0px;
}

.hashover-fake-link {
	text-decoration: none;
	color: #333;
	outline: none;
	cursor: pointer;
	font-weight: 700;
}

.hashover-fake-link:hover {
	text-decoration: underline;
	cursor: pointer;
	color: #f60c3e;
}

.hashover-reply .hashover-avatar *,
.hashover-comment form .hashover-avatar-image * {
	width: 3em;
	height: 3em;
	line-height: 34px;
}

/*~Avatar*/
.hashover-comment .hashover-avatar {
	display: inline-block;
	height: auto;
	margin-right: .5rem;
	background: #f5f5f5;
}
.hashover-avatar-image *,
.hashover-avatar *,
.hashover-avatar a {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	background-position: center center;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	box-sizing: content-box;
}
.hashover-balloon .hashover-avatar-image{
	display: none;
}
#hashover p {
	margin: 0 0 1.5em 0;
}

#hashover p:last-child {
	margin-bottom: 0;
}
/*~Comment content*/
.hashover-comment > .hashover-balloon {
	padding: 0;
	margin: .2rem 0 0 2.5rem;
}

.hashover-comment .hashover-content img {
	display: block;
	max-width: 100%;
	max-height: 640px;
	cursor: pointer;
}

.hashover-select-wrapper select {
	border: none;
	background-color: #ddd;
	padding: 0 1em 0 .2em;
	cursor: pointer;
}

.hashover-select-wrapper,
.hashover-embedded-image-wrapper {
	display: none;
}

.hashover-comment-name {
	vertical-align: middle;
}

.hashover-comment .hashover-title {
	display: inline-block;
	vertical-align: middle;
	clear: right;
}

.hashover-comment pre,
.hashover-comment code,
.hashover-comment blockquote,
.hashover-comment ol,
.hashover-comment ul {
	vertical-align: top;
}

.hashover-comment pre,
.hashover-comment code {
	display: inline-block;
	width: 100%;
	max-height: 400px;
	white-space: pre;
	padding: 5px;
	margin: 0px;
	color: #333;
	font-family: monospace;
	font-size: 12px;
	border-left: 4px solid rgba(0, 0, 0, .1);
	background-color: rgba(0, 0, 0, .05);
	overflow: auto;
}

code.hashover-inline {
	display: inline;
	padding: 1px 4px;
}

.hashover-comment blockquote,
.hashover-comment ol,
.hashover-comment ul {
	padding-left: 10px;
	margin: 0px 24px 0px 24px;
}

.hashover-comment blockquote {
	border-left: 3px solid rgba(0, 0, 0, .3);
}
/*~Comment footer*/
.hashover-date,
.hashover-buttons{
	display: inline-block;
	vertical-align: middle;
	font-size: .6875rem;
}
.hashover-date-permalink,
.hashover-date-permalink:visited,
.hashover-date > * {
	color: #999;
	text-decoration: none;
}

.hashover-date-permalink:hover{
	color: #333;
}
.hashover-buttons a{
	color: #999;
	text-decoration: none;
	margin: 0 1em;
}
.hashover-buttons a:hover{
	color: #333;
}
/*~Subscribe & ~Formatting*/
#hashover-subscribe{
	vertical-align: top;	
}

.hashover-formatting{
	color: #333;
	height: auto;
	display: inline-block;
	font-weight: 700;
	margin: 0 0 0 1em;
}
.hashover-formatting:hover{
	color: #333;
}

.hashover-comment .hashover-like.hashover-dislikes-enabled,
.hashover-comment .hashover-liked.hashover-dislikes-enabled,
.hashover-comment .hashover-dislike.hashover-likes-enabled,
.hashover-comment .hashover-disliked.hashover-likes-enabled {
	height: 15px;
	font-size: 0;
	color: transparent;
}

.hashover-deleted > .hashover-header > .hashover-comment-name {
	color: #FF0000;
}
.hashover-message.hashover-message-error > * {
	color: #fff;
	background-color: #f60c3e;
}

.hashover-formatting-table {
	display: table;
	padding: 1rem 0 1rem 0;
	background-color: #f60c3e;
	color: #fff;
}

.hashover-formatting-table > * {
	display: table-cell;
	width: 50%;
	padding: 0 1rem 0 1rem;
	border-right: 1px dotted rgba(255, 255, 255, .5);
	vertical-align: top;
	line-height: 1.5;
	color: #fff;
}

.hashover-formatting-table > *:last-child {
	border-right: none;
}
.hashover-formatting-table .hashover-title{
	font-weight: 700;
}

.hashover-more-link {
	display: block;
	padding: 12px;
	margin-bottom: 12px;
	background: #eee;
	border: 1px dashed #333;
	text-align: center;
	opacity: 1.0;
}

.hashover-more-link,
a.hashover-more-link {
	color: #404040;
}

.hashover-more-link:hover {
	background-color: rgba(230, 237, 250, 1);
}


.hashover-embedded-image-wrapper.hashover-loading img {
	filter: grayscale(1.0);
	opacity: 0.25;
	filter: alpha(opacity=25);
}

.hashover-embedded-image-wrapper.hashover-loading:before {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.hashover-more-link.hashover-loading:before,
.hashover-thread-link.hashover-loading:before {
	margin-right: 8px;
	margin-top: -8px;
	margin-bottom: -6px;
}

.hashover-more-link.hashover-hide-more-link {
	opacity: 0;
}

.hashover-more-link,
.hashover-message.hashover-message-animated,
.hashover-message.hashover-message-animated > *,
.hashover-formatting-message.hashover-message-animated,
.hashover-formatting-message.hashover-message-animated > * {
	transition: all .15s cubic-bezier(0.7,0,0.3,1);
}

#hashover-end-links {
	display: none;
}

@media only screen and (max-width: 640px) {
	.hashover-formatting-table {
		padding: 12px 12px 0px 12px;
	}

	.hashover-formatting-table > * {
		display: table-row;
		width: 100%;
		border-bottom: 1px solid #aaa;
	}
	.hashover-input-cell{
		width: 100%;
		display: block;
	}
	.hashover-input-cell > *{
		margin: 1rem 0 0;
	}
	#hashover .hashover-formatting-table p{
		padding: 6px 0 16px;
		margin: 0;
	}
	#hashover .hashover-formatting-table .hashover-title{
		padding: 0;
	}
}