/*Designed by JJ Ying
http://jjying.com*/

/*~Common*/
*{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	outline: none;
	box-sizing: border-box;
}
body{
	text-rendering: optimizeLegibility;
	font-size: 62.5%;
	font-family: 'Merriweather Sans', 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', sans-serif;
	text-align: center;
	color: #333;
	line-height: 1;
	background: #fff;
}
.section{
	width: 100%;
}
a{
	color: #30384C;
	cursor: hand;
	z-index: 9999;
}

/*~Header*/
.header{
	font-size: 1.6em;
	background: #FFF;
	height: auto;
	border-top: 0.625em solid #2c3146;
	border-bottom: 0.125em solid rgba(0,0,0,0.1);
	padding-bottom: 1.5em;
}
h1{
	max-width: 10em;
	margin: 0 auto;
}
h1 img{
	max-width: 100%;
}
.subtitle{
	font-size: 1.1em;
	margin: 0 0 .75em;
}
.nav{
	margin: .75em 0 0;
	font-size: 1.1em;
	font-weight: 700;
}
/*~Content*/
.content{
	font-size: 1.4em;
	background: #F5F5F5;
}
/*~Item*/
.item{
	height: auto;
	border-bottom: 1px solid #DDD;
	overflow: hidden;
	-webkit-transition: all .2s ease-out 0s;
	background-color: #2C3146;
	background-size: 1344px 315px;
	background-position: top center;
	background-repeat: no-repeat;
}
.item:hover{
	background-size: 1280px 300px;
	-webkit-transition: all .2s ease-in 0s;
	border-color: #FFF;
}
.inner-item{
	position: relative;
	background: rgba(250,250,250,1);
	height: 100%;
	-webkit-transition: all .3s ease-in 0s;
	padding: 3em 0 1em;
}
.inner-item:hover{
	background: rgba(255,255,255,0);
	-webkit-transition: all .15s ease-out 0s;
}
.item-text{
	-webkit-transition: all .2s ease-out 0s;
}
.item:hover .item-text{
	color: #FFF;
	opacity: 0.95;
	text-shadow: 0 .1em .1em rgba(0,0,0,0.2);
}
h2{
	font-size: 3em;
	font-family:"Merriweather", "HY CuSongTi", "Songti SC", serif;
	font-weight: 700;
	z-index: 999;
}
h2 span{
	opacity: 0.4;
	font-weight: 100;
}
.item-logo{
	margin: .18em 1em 0 0;
	display: none;
}
.item-logo img{
	max-width: 10em;
}
.item-desc{
	max-width: 60%;
	color: #666;
	font-size: 1.125em;
	text-align: left;
	margin: 1.5em auto 1em;
	width: 50em;
	line-height: 1.5;
	position: relative;
	text-align: justify;
	text-justify: ideographic;
}
.item-desc:before{
	content: "“ ";
	font-size: 1em;
	font-weight: 300;
	position: absolute;
	display: block;
	font-size: 3em;
	left: -0.5em;
	top: -0.4em;
	opacity: 0.2;
}
.item-meta{
	margin: 1.5em 0 1em;
	font-weight: 400;
	width: 100%;
	font-size: 1em;
	text-align: center;
}
.item-meta, .item-meta a{
	color: #0cb;
}
.item-meta span{
	margin: 0 .5em;
	background: rgba(255,255,255,.05);
	border-radius: 2em;
	padding: .1em .7em;
}
.item:hover  .item-meta span{
	background: rgba(255,255,255,.2);
}
.item:hover .item-meta a{
	color: #fff;
}
.item-btns{
	margin-top: 1em;
}
.item-btn{
	display: block;
	margin: 0 auto;
	color: #fff;
	background: #f60c3e;
	border-radius: 2em;
	padding: .2em .6em;
	font-size: 0.8em;
	cursor: pointer;
	font-weight: 700;
	-webkit-transition: all .15s ease-in-out 0s;
}
.item:hover .item-btn{
	background: rgba(255,255,255,1);
	color: #333;
}
/*~JD-full*/
nav .item-logo{
	margin: 4em 0 1em;
	display: block;
}
h3{
	font-family:"Merriweather", "HY CuSongTi", "Songti SC",serif;
	font-weight: 400;
	font-size: 2em;
	text-align: left;
	margin: 0 0 .5em;
}
.jd-full{
	width: auto;
	max-width: 45em;
	margin: 2em auto 0;
	padding: 0 2em 0;
	line-height: 1.4;
	font-size: 1.6em;
	text-align: left;
}
.jd-full ul{
	list-style-type: disc;
	list-style-position: outside;
}
.jd-full li{
	margin: .3em 0 .3em 2em;
}
h4{
	margin-left: -0.6em;
	border-left: 0.3em solid #0157ae;
	padding: 0 0.3em;
}
/*~Footer*/
.footer{
	clear: both;
	font-size: 1.4em;
	margin: 2em 0 2em;
	background: #fff;
}
.footer a{
	font-weight: 700;
	text-decoration: none;
}

/*~Mobile*/
@media screen and (max-device-width: 480px){
	body{
		font-size: 100%;
	}
	*{
		-webkit-transition: none !important;
	}
	.item:hover{
		background-size: 1344px 315px;
		background: none;
	}
}

/*~Unique Backgrounds*/
.ep002{
	background-color: #2a2a2a ;
	background-image: url('images/bg-ep002.jpg');
}
.ep001{
	background-color: #f0a000 ;
	background-image: url('images/bg-ep001.jpg');
}
.ark{
	background-color: #a5a47d ;
	background-image: url('images/company-bg-ark.jpg');
}
